nodered_source.txt
[{"id":"2baa9e37.bc5412","type":"comment","z":"863b9c66.94259","name":"UI pattern","info":"","x":121.00000381469727,"y":79.00000190734863,"wires":[]},{"id":"ba21f1e.9f13f1","type":"http in","z":"863b9c66.94259","name":"","url":"/output","method":"get","swaggerDoc":"","x":128.27773666381836,"y":227.1944227218628,"wires":[["65e1457a.6df8ac","94417fad.45d49","639ec83f.b28cb8"]]},{"id":"65e1457a.6df8ac","type":"http request","z":"863b9c66.94259","name":"Access API","method":"GET","ret":"obj","url":"http://nasa.mybluemix.net/api?from={{payload.from}}&to={{payload.to}}","x":379.1349334716797,"y":224.6229248046875,"wires":[["106e01be.128c8e"]]},{"id":"2410fc3e.1e53e4","type":"http response","z":"863b9c66.94259","name":"HTTP response","x":713.3730316162109,"y":313.7181091308594,"wires":[]},{"id":"106e01be.128c8e","type":"change","z":"863b9c66.94259","name":"Delete headers","rules":[{"t":"delete","p":"headers","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":606.5626525878906,"y":223.7657470703125,"wires":[["5137c61.bdbb938"]]},{"id":"ca9305fb.11e098","type":"template","z":"863b9c66.94259","name":"HTML output","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<HTML>\n<BODY>\n<IMG src='https://console-monolith-20160415-122132.ng.bluemix.net/images/appIcons/i-appicon-48-50.png'>\n<FONT color='green' size='+3'><B>Space Transit(宇宙乗換案内)</B></FONT>\n\n<TABLE bgcolor='white' style='width:620px;'>\n<TR><TD bgcolor='green' style='height:6px;width:620px;'><TD></TR>\n</TABLE>\n\n<BR>\n\n<FONT size='+2'>&nbsp;<B>5 routes were found as follows!</B></FONT><BR><BR>\n<BR><BR>\n\n<TABLE cellspacing='0' style='width:620px;'>\n<TR bgcolor='green' style='height:4px;'><TD></TD><TD></TD></TR>\n<TR bgcolor='honeydew' style='height:68px;'><TD><CENTER><FONT style='color:white; background-color:green;'>&nbsp;<B>Route 1</B>&nbsp;</FONT></CENTER></TD><TD>Departure year: {{payload.0.DST0}} -&gt; Arrival year: {{payload.0.DST3}}<BR><BR>Travel time: {{payload.0.TDST}} years</TD></TR>\n</TABLE>\n\n<BR>\n\n<TABLE cellspacing='0' style='width:620px;'>\n<TR bgcolor='lightgray' style='height:40px;'><TD style='width:150px;'>&nbsp;Departure: {{payload.0.DST0}}</TD><TD style='width:5px;'>O</TD><TD><FONT color='darkblue'><B>&nbsp;HIP{{payload.0.PLNT1}}</B>&nbsp;&nbsp;<A href='http://simbad.u-strasbg.fr/simbad/sim-id?Ident=HIP{{payload.0.PLNT1}}'>[Information about HIP{{payload.0.PLNT1}}]</A></FONT></TD></TR>\n<TR bgcolor='white' style='height:80px;'><TD><CENTER><IMG src='https://console-monolith-20160415-122132.ng.bluemix.net/images/appIcons/i-appicon-51-50.png'></CENTER></TD><TD bgcolor='red'></TD><TD>&nbsp;&nbsp;Space Rocket No.1 for HIP{{payload.0.PLNT2}}</TD></TR>\n<TR bgcolor='lightgray' style='height:40px;'><TD>&nbsp;Arrival : {{payload.0.DST1}}<BR>&nbsp;Departure: {{payload.0.DST1}}</TD><TD>O</TD><TD><FONT color='darkblue'><B>&nbsp;HIP{{payload.0.PLNT2}}</B>&nbsp;&nbsp;<A href='http://simbad.u-strasbg.fr/simbad/sim-id?Ident=HIP{{payload.0.PLNT2}}'>[Information about HIP{{payload.0.PLNT2}}]</A></FONT></TD></TR>\n<TR bgcolor='white' style='height:80px;'><TD><CENTER><IMG src='https://console-monolith-20160415-122132.ng.bluemix.net/images/appIcons/i-appicon-9-50.png'></CENTER></TD><TD bgcolor='orange'></TD><TD>&nbsp;&nbsp;Space Rocket No.2 for HIP{{payload.0.PLNT3}}</TD></TR>\n<TR bgcolor='lightgray' style='height:40px;'><TD>&nbsp;Arrival: {{payload.0.DST2}}<BR>&nbsp;Departure: {{payload.0.DST2}}</TD><TD>O</TD><TD><FONT color='darkblue'><B>&nbsp;HIP{{payload.0.PLNT3}}</B>&nbsp;&nbsp;<A href='http://simbad.u-strasbg.fr/simbad/sim-id?Ident=HIP{{payload.0.PLNT3}}'>[Information about HIP{{payload.0.PLNT3}}]</A></FONT></TD></TR>\n<TR bgcolor='white' style='height:80px;'><TD><CENTER><IMG src='https://console-monolith-20160415-122132.ng.bluemix.net/images/appIcons/i-appicon-63-50.png'></CENTER></TD><TD bgcolor='lightblue'></TD><TD>&nbsp;&nbsp;Space Rocket No.3 for HIP{{payload.0.PLNT4}}</TD></TR>\n<TR bgcolor='lightgray' style='height:40px;'><TD>&nbsp;Arrival: {{payload.0.DST3}}</TD><TD>O</TD><TD><FONT color='darkblue'><B>&nbsp;HIP{{payload.0.PLNT4}}</B>&nbsp;&nbsp;<A href='http://simbad.u-strasbg.fr/simbad/sim-id?Ident=HIP{{payload.0.PLNT4}}'>[Information about HIP{{payload.0.PLNT4}}]</A></FONT></TD></TR>\n</TABLE>\n\n<BR><BR><BR><BR>\n\n<TABLE cellspacing='0' style='width:620px;'>\n<TR bgcolor='green' style='height:4px;'><TD></TD><TD></TD></TR>\n<TR bgcolor='honeydew' style='height:68px;'><TD><CENTER><FONT style='color:white; background-color:green;'>&nbsp;<B>Route 2</B>&nbsp;</FONT></CENTER></TD><TD>Departure year: {{payload.1.DST0}} -&gt; Arrival year: {{payload.1.DST3}}<BR><BR>Travel time: {{payload.1.TDST}} years</TD></TR>\n</TABLE>\n\n<BR>\n\n<TABLE cellspacing='0' style='width:620px;'>\n<TR bgcolor='lightgray' style='height:40px;'><TD style='width:150px;'>&nbsp;Departure: {{payload.1.DST0}}</TD><TD style='width:5px;'>O</TD><TD><FONT color='darkblue'><B>&nbsp;HIP{{payload.1.PLNT1}}</B>&nbsp;&nbsp;<A href='http://simbad.u-strasbg.fr/simbad/sim-id?Ident=HIP{{payload.1.PLNT1}}'>[Information about HIP{{payload.1.PLNT1}}]</A></FONT></TD></TR>\n<TR bgcolor='white' style='height:80px;'><TD><CENTER><IMG src='https://console-monolith-20160415-122132.ng.bluemix.net/images/appIcons/i-appicon-51-50.png'></CENTER></TD><TD bgcolor='red'></TD><TD>&nbsp;&nbsp;Space Rocket No.1 for HIP{{payload.1.PLNT2}}</TD></TR>\n<TR bgcolor='lightgray' style='height:40px;'><TD>&nbsp;Arrival : {{payload.1.DST1}}<BR>&nbsp;Departure: {{payload.1.DST1}}</TD><TD>O</TD><TD><FONT color='darkblue'><B>&nbsp;HIP{{payload.1.PLNT2}}</B>&nbsp;&nbsp;<A href='http://simbad.u-strasbg.fr/simbad/sim-id?Ident=HIP{{payload.1.PLNT2}}'>[Information about HIP{{payload.1.PLNT2}}]</A></FONT></TD></TR>\n<TR bgcolor='white' style='height:80px;'><TD><CENTER><IMG src='https://console-monolith-20160415-122132.ng.bluemix.net/images/appIcons/i-appicon-9-50.png'></CENTER></TD><TD bgcolor='orange'></TD><TD>&nbsp;&nbsp;Space Rocket No.2 for HIP{{payload.1.PLNT3}}</TD></TR>\n<TR bgcolor='lightgray' style='height:40px;'><TD>&nbsp;Arrival: {{payload.1.DST2}}<BR>&nbsp;Departure: {{payload.1.DST2}}</TD><TD>O</TD><TD><FONT color='darkblue'><B>&nbsp;HIP{{payload.1.PLNT3}}</B>&nbsp;&nbsp;<A href='http://simbad.u-strasbg.fr/simbad/sim-id?Ident=HIP{{payload.1.PLNT3}}'>[Information about HIP{{payload.1.PLNT3}}]</A></FONT></TD></TR>\n<TR bgcolor='white' style='height:80px;'><TD><CENTER><IMG src='https://console-monolith-20160415-122132.ng.bluemix.net/images/appIcons/i-appicon-63-50.png'></CENTER></TD><TD bgcolor='lightblue'></TD><TD>&nbsp;&nbsp;Space Rocket No.3 for HIP{{payload.1.PLNT4}}</TD></TR>\n<TR bgcolor='lightgray' style='height:40px;'><TD>&nbsp;Arrival: {{payload.1.DST3}}</TD><TD>O</TD><TD><FONT color='darkblue'><B>&nbsp;HIP{{payload.1.PLNT4}}</B>&nbsp;&nbsp;<A href='http://simbad.u-strasbg.fr/simbad/sim-id?Ident=HIP{{payload.1.PLNT4}}'>[Information about HIP{{payload.1.PLNT4}}]</A></FONT></TD></TR>\n</TABLE>\n\n<BR><BR><BR><BR>\n\n<TABLE cellspacing='0' style='width:620px;'>\n<TR bgcolor='green' style='height:4px;'><TD></TD><TD></TD></TR>\n<TR bgcolor='honeydew' style='height:68px;'><TD><CENTER><FONT style='color:white; background-color:green;'>&nbsp;<B>Route 3</B>&nbsp;</FONT></CENTER></TD><TD>Departure year: {{payload.2.DST0}} -&gt; Arrival year: {{payload.2.DST3}}<BR><BR>Travel time: {{payload.2.TDST}} years</TD></TR>\n</TABLE>\n\n<BR>\n\n<TABLE cellspacing='0' style='width:620px;'>\n<TR bgcolor='lightgray' style='height:40px;'><TD style='width:150px;'>&nbsp;Departure: {{payload.2.DST0}}</TD><TD style='width:5px;'>O</TD><TD><FONT color='darkblue'><B>&nbsp;HIP{{payload.2.PLNT1}}</B>&nbsp;&nbsp;<A href='http://simbad.u-strasbg.fr/simbad/sim-id?Ident=HIP{{payload.2.PLNT1}}'>[Information about HIP{{payload.2.PLNT1}}]</A></FONT></TD></TR>\n<TR bgcolor='white' style='height:80px;'><TD><CENTER><IMG src='https://console-monolith-20160415-122132.ng.bluemix.net/images/appIcons/i-appicon-51-50.png'></CENTER></TD><TD bgcolor='red'></TD><TD>&nbsp;&nbsp;Space Rocket No.1 for HIP{{payload.2.PLNT2}}</TD></TR>\n<TR bgcolor='lightgray' style='height:40px;'><TD>&nbsp;Arrival : {{payload.2.DST1}}<BR>&nbsp;Departure: {{payload.2.DST1}}</TD><TD>O</TD><TD><FONT color='darkblue'><B>&nbsp;HIP{{payload.2.PLNT2}}</B>&nbsp;&nbsp;<A href='http://simbad.u-strasbg.fr/simbad/sim-id?Ident=HIP{{payload.2.PLNT2}}'>[Information about HIP{{payload.2.PLNT2}}]</A></FONT></TD></TR>\n<TR bgcolor='white' style='height:80px;'><TD><CENTER><IMG src='https://console-monolith-20160415-122132.ng.bluemix.net/images/appIcons/i-appicon-9-50.png'></CENTER></TD><TD bgcolor='orange'></TD><TD>&nbsp;&nbsp;Space Rocket No.2 for HIP{{payload.2.PLNT3}}</TD></TR>\n<TR bgcolor='lightgray' style='height:40px;'><TD>&nbsp;Arrival: {{payload.2.DST2}}<BR>&nbsp;Departure: {{payload.2.DST2}}</TD><TD>O</TD><TD><FONT color='darkblue'><B>&nbsp;HIP{{payload.2.PLNT3}}</B>&nbsp;&nbsp;<A href='http://simbad.u-strasbg.fr/simbad/sim-id?Ident=HIP{{payload.2.PLNT3}}'>[Information about HIP{{payload.2.PLNT3}}]</A></FONT></TD></TR>\n<TR bgcolor='white' style='height:80px;'><TD><CENTER><IMG src='https://console-monolith-20160415-122132.ng.bluemix.net/images/appIcons/i-appicon-63-50.png'></CENTER></TD><TD bgcolor='lightblue'></TD><TD>&nbsp;&nbsp;Space Rocket No.3 for HIP{{payload.2.PLNT4}}</TD></TR>\n<TR bgcolor='lightgray' style='height:40px;'><TD>&nbsp;Arrival: {{payload.2.DST3}}</TD><TD>O</TD><TD><FONT color='darkblue'><B>&nbsp;HIP{{payload.2.PLNT4}}</B>&nbsp;&nbsp;<A href='http://simbad.u-strasbg.fr/simbad/sim-id?Ident=HIP{{payload.2.PLNT4}}'>[Information about HIP{{payload.2.PLNT4}}]</A></FONT></TD></TR>\n</TABLE>\n\n<BR><BR><BR><BR>\n\n<TABLE cellspacing='0' style='width:620px;'>\n<TR bgcolor='green' style='height:4px;'><TD></TD><TD></TD></TR>\n<TR bgcolor='honeydew' style='height:68px;'><TD><CENTER><FONT style='color:white; background-color:green;'>&nbsp;<B>Route 4</B>&nbsp;</FONT></CENTER></TD><TD>Departure year: {{payload.3.DST0}} -&gt; Arrival year: {{payload.3.DST3}}<BR><BR>Travel time: {{payload.3.TDST}} years</TD></TR>\n</TABLE>\n\n<BR>\n\n<TABLE cellspacing='0' style='width:620px;'>\n<TR bgcolor='lightgray' style='height:40px;'><TD style='width:150px;'>&nbsp;Departure: {{payload.3.DST0}}</TD><TD style='width:5px;'>O</TD><TD><FONT color='darkblue'><B>&nbsp;HIP{{payload.3.PLNT1}}</B>&nbsp;&nbsp;<A href='http://simbad.u-strasbg.fr/simbad/sim-id?Ident=HIP{{payload.3.PLNT1}}'>[Information about HIP{{payload.3.PLNT1}}]</A></FONT></TD></TR>\n<TR bgcolor='white' style='height:80px;'><TD><CENTER><IMG src='https://console-monolith-20160415-122132.ng.bluemix.net/images/appIcons/i-appicon-51-50.png'></CENTER></TD><TD bgcolor='red'></TD><TD>&nbsp;&nbsp;Space Rocket No.1 for HIP{{payload.3.PLNT2}}</TD></TR>\n<TR bgcolor='lightgray' style='height:40px;'><TD>&nbsp;Arrival : {{payload.3.DST1}}<BR>&nbsp;Departure: {{payload.3.DST1}}</TD><TD>O</TD><TD><FONT color='darkblue'><B>&nbsp;HIP{{payload.3.PLNT2}}</B>&nbsp;&nbsp;<A href='http://simbad.u-strasbg.fr/simbad/sim-id?Ident=HIP{{payload.3.PLNT2}}'>[Information about HIP{{payload.3.PLNT2}}]</A></FONT></TD></TR>\n<TR bgcolor='white' style='height:80px;'><TD><CENTER><IMG src='https://console-monolith-20160415-122132.ng.bluemix.net/images/appIcons/i-appicon-9-50.png'></CENTER></TD><TD bgcolor='orange'></TD><TD>&nbsp;&nbsp;Space Rocket No.2 for HIP{{payload.3.PLNT3}}</TD></TR>\n<TR bgcolor='lightgray' style='height:40px;'><TD>&nbsp;Arrival: {{payload.3.DST2}}<BR>&nbsp;Departure: {{payload.3.DST2}}</TD><TD>O</TD><TD><FONT color='darkblue'><B>&nbsp;HIP{{payload.3.PLNT3}}</B>&nbsp;&nbsp;<A href='http://simbad.u-strasbg.fr/simbad/sim-id?Ident=HIP{{payload.3.PLNT3}}'>[Information about HIP{{payload.3.PLNT3}}]</A></FONT></TD></TR>\n<TR bgcolor='white' style='height:80px;'><TD><CENTER><IMG src='https://console-monolith-20160415-122132.ng.bluemix.net/images/appIcons/i-appicon-63-50.png'></CENTER></TD><TD bgcolor='lightblue'></TD><TD>&nbsp;&nbsp;Space Rocket No.3 for HIP{{payload.3.PLNT4}}</TD></TR>\n<TR bgcolor='lightgray' style='height:40px;'><TD>&nbsp;Arrival: {{payload.3.DST3}}</TD><TD>O</TD><TD><FONT color='darkblue'><B>&nbsp;HIP{{payload.3.PLNT4}}</B>&nbsp;&nbsp;<A href='http://simbad.u-strasbg.fr/simbad/sim-id?Ident=HIP{{payload.3.PLNT4}}'>[Information about HIP{{payload.3.PLNT4}}]</A></FONT></TD></TR>\n</TABLE>\n\n<BR><BR><BR><BR>\n\n<TABLE cellspacing='0' style='width:620px;'>\n<TR bgcolor='green' style='height:4px;'><TD></TD><TD></TD></TR>\n<TR bgcolor='honeydew' style='height:68px;'><TD><CENTER><FONT style='color:white; background-color:green;'>&nbsp;<B>Route 5</B>&nbsp;</FONT></CENTER></TD><TD>Departure year: {{payload.4.DST0}} -&gt; Arrival year: {{payload.4.DST3}}<BR><BR>Travel time: {{payload.4.TDST}} years</TD></TR>\n</TABLE>\n\n<BR>\n\n<TABLE cellspacing='0' style='width:620px;'>\n<TR bgcolor='lightgray' style='height:40px;'><TD style='width:150px;'>&nbsp;Departure: {{payload.4.DST0}}</TD><TD style='width:5px;'>O</TD><TD><FONT color='darkblue'><B>&nbsp;HIP{{payload.4.PLNT1}}</B>&nbsp;&nbsp;<A href='http://simbad.u-strasbg.fr/simbad/sim-id?Ident=HIP{{payload.4.PLNT1}}'>[Information about HIP{{payload.4.PLNT1}}]</A></FONT></TD></TR>\n<TR bgcolor='white' style='height:80px;'><TD><CENTER><IMG src='https://console-monolith-20160415-122132.ng.bluemix.net/images/appIcons/i-appicon-51-50.png'></CENTER></TD><TD bgcolor='red'></TD><TD>&nbsp;&nbsp;Space Rocket No.1 for HIP{{payload.4.PLNT2}}</TD></TR>\n<TR bgcolor='lightgray' style='height:40px;'><TD>&nbsp;Arrival : {{payload.4.DST1}}<BR>&nbsp;Departure: {{payload.4.DST1}}</TD><TD>O</TD><TD><FONT color='darkblue'><B>&nbsp;HIP{{payload.4.PLNT2}}</B>&nbsp;&nbsp;<A href='http://simbad.u-strasbg.fr/simbad/sim-id?Ident=HIP{{payload.4.PLNT2}}'>[Information about HIP{{payload.4.PLNT2}}]</A></FONT></TD></TR>\n<TR bgcolor='white' style='height:80px;'><TD><CENTER><IMG src='https://console-monolith-20160415-122132.ng.bluemix.net/images/appIcons/i-appicon-9-50.png'></CENTER></TD><TD bgcolor='orange'></TD><TD>&nbsp;&nbsp;Space Rocket No.2 for HIP{{payload.4.PLNT3}}</TD></TR>\n<TR bgcolor='lightgray' style='height:40px;'><TD>&nbsp;Arrival: {{payload.4.DST2}}<BR>&nbsp;Departure: {{payload.4.DST2}}</TD><TD>O</TD><TD><FONT color='darkblue'><B>&nbsp;HIP{{payload.4.PLNT3}}</B>&nbsp;&nbsp;<A href='http://simbad.u-strasbg.fr/simbad/sim-id?Ident=HIP{{payload.4.PLNT3}}'>[Information about HIP{{payload.4.PLNT3}}]</A></FONT></TD></TR>\n<TR bgcolor='white' style='height:80px;'><TD><CENTER><IMG src='https://console-monolith-20160415-122132.ng.bluemix.net/images/appIcons/i-appicon-63-50.png'></CENTER></TD><TD bgcolor='lightblue'></TD><TD>&nbsp;&nbsp;Space Rocket No.3 for HIP{{payload.4.PLNT4}}</TD></TR>\n<TR bgcolor='lightgray' style='height:40px;'><TD>&nbsp;Arrival: {{payload.4.DST3}}</TD><TD>O</TD><TD><FONT color='darkblue'><B>&nbsp;HIP{{payload.4.PLNT4}}</B>&nbsp;&nbsp;<A href='http://simbad.u-strasbg.fr/simbad/sim-id?Ident=HIP{{payload.4.PLNT4}}'>[Information about HIP{{payload.4.PLNT4}}]</A></FONT></TD></TR>\n</TABLE>\n\n<BR><BR><BR><BR>\n\n</BODY></HTML>\n","x":515.2777252197266,"y":314.86102294921875,"wires":[["2410fc3e.1e53e4"]]},{"id":"d82ccece.ce933","type":"http response","z":"863b9c66.94259","name":"HTTP response","x":487.5160827636719,"y":124.99990844726562,"wires":[]},{"id":"1f83d15c.5f664f","type":"http in","z":"863b9c66.94259","name":"","url":"/input","method":"get","swaggerDoc":"","x":124.18258666992188,"y":124.99992370605469,"wires":[["2050dcf8.b1fc04"]]},{"id":"2050dcf8.b1fc04","type":"template","z":"863b9c66.94259","name":"HTML form","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<HTML><BODY>\n\n<IMG src='https://console-monolith-20160415-122132.ng.bluemix.net/images/appIcons/i-appicon-48-50.png'>\n<FONT color='green' size='+3'><B>Space Transit(宇宙乗換案内)</B></FONT>\n\n<TABLE bgcolor='white' style='width:620px;'>\n<TR><TD bgcolor='green' style='height:6px;width:620px;'><TD></TR>\n</TABLE>\n\n<BR>\n\n<FONT size='+2'>&nbsp;<B>Please select departure and arrival planets.</B></FONT><BR><BR>\n<BR><BR>\n\n<TABLE bgcolor='lightgray' style='width:613px;height:200px;font-size:20;'>\n<TR><TD>\n    \n<FORM method='GET' action='output'>\n\n<CENTER><TABLE style='height:50px;'>\n<TR><TD bgcolor='green' style='width:60px;'>\n<FONT style='color:white;'>&nbsp;<B>From:</B>&nbsp;</FONT>\n</TD><TD bgcolor='white' style='width:200px;'>\n<!--<INPUT type='text' name='from'>-->\n<select name='from' style='width:200px;'>\n<option value='0'>Earth\n<option value='32349'>Sirius(HIP32349)\n<option value='30438'>Canopus(HIP30438)\n<option value='69673'>Arcturus(HIP69673)\n<option value='91262'>Vega(HIP91262)\n<option value='24608'>Capella(HIP24608)\n<option value='24436'>Rigel(HIP24436)\n<option value='37279'>Procyon(HIP37279)\n<option value='27989'>Betelgeuse(HIP27989)\n<option value='7588'>Achernar(HIP7588)\n<option value='97649'>Altair(HIP97649)\n</select>\n\n</TD><TD>\n&nbsp;-&gt;&nbsp;\n</TD><TD bgcolor='green' style='width:60px;'>\n\n<FONT style='color:white;'>&nbsp;<B>To:</B>&nbsp;</FONT>\n\n</TD><TD bgcolor='white' style='width:200px;'>\n\n<select name='to' style='width:200px;'>\n<option value='0'>Earth\n<option value='32349'>Sirius(HIP32349)\n<option value='30438'>Canopus(HIP30438)\n<option value='69673'>Arcturus(HIP69673)\n<option value='91262' selected>Vega(HIP91262)\n<option value='24608'>Capella(HIP24608)\n<option value='24436'>Rigel(HIP24436)\n<option value='37279'>Procyon(HIP37279)\n<option value='27989'>Betelgeuse(HIP27989)\n<option value='7588'>Achernar(HIP7588)\n<option value='97649'>Altair(HIP97649)\n</select>\n\n</TD></TR>\n</TABLE></CENTER>\n<BR>\n\n&nbsp;&nbsp;&nbsp;Depature year:\n<select name='start'>\n<option>2016\n<option>2017\n<option>2018\n<option>2019\n</select>\n\n<!--<INPUT type='text' name='to'>-->\n<BR><BR>\n<CENTER><INPUT type='submit' style='background-color:orange;font-size:15;width:230px;height:36px;' value='Travel'></CENTER>\n</FORM>\n</TD></TR>\n</TABLE>\n* Our rockets need to travel in light speed, because space travel will takes long time.<BR>\n* HIP numbers are star IDs in Hipparcos star catalog.<BR>\n* Departure function is under construction.<BR>\n</BODY></HTML>\n\n","x":279.84926986694336,"y":124.66655802726746,"wires":[["d82ccece.ce933"]]},{"id":"9543bd10.100ce","type":"http in","z":"863b9c66.94259","name":"","url":"/api","method":"get","swaggerDoc":"","x":116.63873672485352,"y":578.5278964042664,"wires":[["d62906b.8a6c9f8"]]},{"id":"f6b73cd0.1ad12","type":"http response","z":"863b9c66.94259","name":"HTTP response","x":698.5277557373047,"y":580.2421875,"wires":[]},{"id":"ad88553a.f6afe8","type":"comment","z":"863b9c66.94259","name":"API pattern","info":"","x":124.00003051757812,"y":531.4167785644531,"wires":[]},{"id":"2fec935e.75498c","type":"comment","z":"863b9c66.94259","name":"↓下のAPIに問合わせ、結果取得","info":"","x":527.2500152587891,"y":187.16671752929688,"wires":[]},{"id":"44b4f87f.5ce1c8","type":"comment","z":"863b9c66.94259","name":"↓ブラウザ上で値を受付け、下のGET実行","info":"","x":404.00003814697266,"y":82.83335852622986,"wires":[]},{"id":"b0f15b85.fed118","type":"comment","z":"863b9c66.94259","name":"↑API取得結果をブラウザ上に表示","info":"","x":584.0833587646484,"y":368.9166564941406,"wires":[]},{"id":"d62906b.8a6c9f8","type":"template","z":"863b9c66.94259","name":"Create SQL","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT TB1.HIP1 AS PLNT1, TB2.HIP1 AS PLNT2, TB3.HIP1 AS PLNT3, TB3.HIP2 AS PLNT4, TB1.DST AS DST1, TB2.DST AS DST2, TB3.DST AS DST3, (TB1.DST + TB2.DST + TB3.DST) AS TDST FROM HIPPARCOS AS TB1, HIPPARCOS AS TB2, HIPPARCOS AS TB3 WHERE TB1.HIP1 = '{{payload.from}}' AND TB1.HIP2 = TB2.HIP1 AND TB2.HIP2 = TB3.HIP1 AND TB1.HIP1 <> TB3.HIP1 AND TB3.HIP2 = '{{payload.to}}' AND TB1.DST <> '0' AND TB2.DST <> '0' AND TB3.DST <> '0' ORDER BY TDST FETCH FIRST 5 ROWS ONLY","x":294.3134002685547,"y":581.4644165039062,"wires":[["56e9b6fe.e37768"]]},{"id":"56e9b6fe.e37768","type":"dashDB in","z":"863b9c66.94259","service":"dashDB-h6","query":"","params":"","name":"Search dashDB","x":485.7499237060547,"y":582.9088745117188,"wires":[["f6b73cd0.1ad12"]]},{"id":"94417fad.45d49","type":"debug","z":"863b9c66.94259","name":"Output debug","active":true,"console":"false","complete":"payload","x":267.99998474121094,"y":176,"wires":[]},{"id":"5137c61.bdbb938","type":"function","z":"863b9c66.94259","name":"Calculate year","func":"msg.payload[0].DST0 = 2016;\nmsg.payload[0].DST1 += msg.payload[0].DST0;\nmsg.payload[0].DST2 += msg.payload[0].DST1;\nmsg.payload[0].DST3 += msg.payload[0].DST2;\n\nmsg.payload[1].DST0 = 2016;\nmsg.payload[1].DST1 += msg.payload[1].DST0;\nmsg.payload[1].DST2 += msg.payload[1].DST1;\nmsg.payload[1].DST3 += msg.payload[1].DST2;\n\nmsg.payload[2].DST0 = 2016;\nmsg.payload[2].DST1 += msg.payload[2].DST0;\nmsg.payload[2].DST2 += msg.payload[2].DST1;\nmsg.payload[2].DST3 += msg.payload[2].DST2;\n\nmsg.payload[3].DST0 = 2016;\nmsg.payload[3].DST1 += msg.payload[3].DST0;\nmsg.payload[3].DST2 += msg.payload[3].DST1;\nmsg.payload[3].DST3 += msg.payload[3].DST2;\n\nmsg.payload[4].DST0 = 2016;\nmsg.payload[4].DST1 += msg.payload[4].DST0;\nmsg.payload[4].DST2 += msg.payload[4].DST1;\nmsg.payload[4].DST3 += msg.payload[4].DST2;\n\nreturn msg;","outputs":1,"noerr":0,"x":321,"y":315,"wires":[["ca9305fb.11e098","ab042995.77b838"]]},{"id":"ab042995.77b838","type":"debug","z":"863b9c66.94259","name":"Output debug","active":true,"console":"false","complete":"payload","x":325.99998474121094,"y":380,"wires":[]},{"id":"639ec83f.b28cb8","type":"delay","z":"863b9c66.94259","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":206,"y":429,"wires":[["31924c13.d416f4"]]},{"id":"31924c13.d416f4","type":"template","z":"863b9c66.94259","name":"HTML Timeout messege","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"<HTML><BODY>\n    \n<IMG src='https://console-monolith-20160415-122132.ng.bluemix.net/images/appIcons/i-appicon-48-50.png'>\n<FONT color='green' size='+3'><B>Space Transit(宇宙乗換案内)</B></FONT>\n\n<TABLE bgcolor='white' style='width:620px;'>\n<TR><TD bgcolor='green' style='height:6px;width:620px;'><TD></TR>\n</TABLE>\n\n<BR>\n\n<FONT size='+2'>&nbsp;<B>Sorry, timeout was occurred!</B></FONT><BR><BR>\n<BR><BR>\n    \n</BODY></HTML>","x":494.99998474121094,"y":436,"wires":[["2410fc3e.1e53e4"]]},{"id":"704210b2.09a54","type":"http in","z":"863b9c66.94259","name":"","url":"/error","method":"get","swaggerDoc":"","x":288.8957977294922,"y":478.8888854980469,"wires":[["31924c13.d416f4"]]},{"id":"37089f44.c519b","type":"comment","z":"863b9c66.94259","name":"Timeout pattern","info":"","x":127.89582824707031,"y":478.8888854980469,"wires":[]}]